@font-face {
	font-family: "sitelen seli kiwen";
	src: url("/linluwi/fonts/ssk.ttf"), local("sitelen seli kiwen mono asuki");
}

@font-face {
	font-family: "fairfax";
	src: url("/linluwi/fonts/ffx.ttf"), local("fairfax pona hd");
}

:lang("tok") {
	font-family: "sitelen seli kiwen", "fairfax";
	letter-spacing: 0;
}

.hero-unit h1:lang("tok")  {
	letter-spacing: 0 !important;
}